body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

#root {
    height: 100%;
    width: 100%;
    padding: 0;
}

.content-container {
    margin-left: 250px;
    padding: 0;
    height: 100%;
}