.authorization-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    min-height: 100vh;
    padding-top: 120px;
    
}

.icon-img {
    width: 64px;
    height: 64px;
    margin-bottom: 0;
}

.icon-img:focus {
    outline: none;
}

.title {
    margin-top: 0;
    font-size: 40px;
    color: #A44A3F;
    font-weight: 500;
}

.subtitle {
    font-size: 20px;
    color: #A44A3F;
    font-weight: 400;
    margin-top: 20px;
}

.form-input {
    width: 350px;
    height: 50px;
    border-radius: 15px;
    background-color: #FFFFFF;
    border: solid 2px #A44A3F;
    padding-left: 10px;
    font-size: 13px;
    color: #727374;
    margin-top: 20px;
}

.form-input:focus {
    outline: 1px solid #8E3D31;
}

.submit-btn {
    width: 370px;
    height: 55px;
    border-radius: 15px;
    background-color: #A44A3F;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 45px;
}

.submit-btn:hover {
    background-color: #8E3D31;
}

.submit-btn:focus {
    outline: none; 
}

.form-select {
    width: 370px;
    height: 55px;
    border-radius: 15px;
    background-color: #FFFFFF;
    border: solid 2px #A44A3F;
    padding-left: 10px;
    font-size: 13px;
    color: #727374;
    margin-top: 20px;
}

.form-select:focus {
    outline: 1px solid #8E3D31;
}
